# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\人工智能导论\A_Star\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
